.container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin: 45px;
    align-items: center;
}

.buttons {
    flex: 1;
    margin-top: 10px;
}

@media only screen and (max-width: 1700px) {
    .container {
        justify-content: center;
    }
    .buttons {
        display: block;
    }
}

@media only screen and (max-width: 750px) {
    .container {
        flex-flow: column nowrap;
        width: 500px;
        margin: 40px auto;
    }
}

@media only screen and (max-width: 500px) {
    .container {
        width: 100%;
        
    }
}