.container {
    display: grid;
    grid: 1fr / 1fr 1fr 1fr;
    justify-items: center;
    margin: 45px;
    align-items: center;
}


@media screen and (max-width: 1700px) {
    .container {
        display: flex;
        margin: 45px 0px;
        justify-content: center;
    }
}

/* 750 px breakpoint */