.contactsContainer {
    display: flex;
    flex-flow: column wrap;
    margin-left: 50px;
    background-color: #4491ab;
    border-radius: 10px;
    color: black;

    padding: 50px;
}
.p {
    text-align: center;  
}

.list {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
}
.list a {
    display: flex;
    margin: 10px;
    flex-direction: row wrap;
    align-items: center;
    padding: 10px;
}

.list a:hover {
    color: rgb(19, 173, 173);
    background-color: rgb(209, 131, 131);
    border-radius: 20px;
    color: black;
}

.list a img {
    margin: 10px;
    width: 50px;
    height: 50px;
}

@media screen and (max-width:1700px) {
    .contactsContainer {
        margin-left: 0px ;
    }
    .list {
        margin-top: 30px;
        flex-direction: row;
    }
    .list a {
        margin: 5px;
        padding: 5px;
    }
}

@media screen and (max-width:768px) {
    .list a{
        background-color: rgb(209, 131, 131);
        border-radius: 20px;
        padding: 10px;
    }
}

@media screen and (max-width: 320px) {
    .list a {
        text-decoration: underline;
        background: none;
        padding: 5px 0px;
    }    
}