.nav {
    width: 100%;
    background-color: #222;
}

.links {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    padding: 10px;
}

.link {
    margin: 10px 30px;
    padding: 5px;
}

.link:hover {
    color: black;
    background-color: var(--primary);
    border-radius: 10px;
}