.links {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    background-color: #222;
    width: 100%;
    padding: 10px;
}

.link {
    margin: 10px 40px;
}

.link:hover {
    color: rgb(224, 208, 208);
}