* {
  margin: 0px;
}

html {
  background-color: #f1f0ea;

  color: black;
  font-size: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

