@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #f1f0ea;
    --secondary: #4491ab;
}


@media screen and (min-width: 10px) {
    body {
        font-size: 16px;
    }
}
@media screen and (min-width: 800px) {
    body {
        font-size: 18px;
    }
}
@media screen and (min-width: 1600px) {
    body {
        font-size: 22px;
    }
}

@media only screen and (min-width: 600px) {
    /* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 

} 
}