@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #f1f0ea;
    --secondary: #4491ab;
}



@media only screen and (min-width: 600px) {
    /* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 

} 
}