.container {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}
.img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}

.title{
    height: 200px;
    vertical-align: middle;
}